.grayBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(196, 196, 196, 0.3);
  z-index: 1002;
}

.MoveShopping {
  position: fixed;
  width: 320px;
  height: 294px;
  left: 20px;
  top: 200px;
  background: #1d1d1d;
  border-radius: 12px;
}

.MoveShopping .image_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8.65px;

  position: absolute;
  width: 159.95px;
  height: 197px;
  left: 80px;
  top: 20px;
}

.MoveShopping h6 {
  position: absolute;
  width: 20px;
  height: 24px;
  left: 290px;
  top: 10px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.MoveShopping img {
  width: 159.95px;
  height: 161.51px;
}

.MoveShopping p {
  width: 154.78px;
  height: 27px;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #ffffff;
  margin: 0;
}

.MoveShopping .Button {
  position: absolute;
  width: 296px;
  height: 53px;
  left: calc(50% - 296px / 2);
  top: 229px;
  margin: 0;
}
