.WriteName input {
  align-items: flex-start;
  padding: 15px;
  width: 280px;
  height: 48px;
  background-color: #000000;
  color: white;
  border-radius: 0;
  border: none;
}

.WriteName input:focus {
  outline: none;
}

.WriteName h6 {
  /* 이름 입력 */
  width: 300px;
  text-align: center;
  height: 20px;
  text-decoration: none;
  margin-top: 32px;
}

.WriteName p {
  /* 마지막으로 상대방의 이름을 입력해주세요! */

  width: 302px;
  height: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .mobileFocus {
    position: absolute;
    top: 200px;
    width: 360px;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
    display: flex;
    justify-content: center; /* 수평 중앙 */
  }

  .mobileFocus input {
    margin-top: 90px;
    width: 240px;
    height: 48px;

    border: none;
    background: none;

    text-align: center; /* 텍스트 수평 중앙 정렬 */
    line-height: 48px; /* 텍스트 수직 중앙 정렬 (input의 높이와 맞추기) */

    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
  }

  .mobileFocus input:focus {
    outline: none;
  }
}
